@model PurchaseFormModel



<div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        Add Product
    </button>
</div>
@*<a href="~/Purchases/AddSupplier" class="btn btn-primary mb-3 mt-3">Add Product</a>*@

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Product</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-3">
                        <label asp-for="Description">Description</label>
                        <select asp-for="Description" asp-items="@(new SelectList(Model.Descriptions))">
                            <option value="">All</option>
                            @foreach (var type in Model.Descriptions)
                            {
                                <option value="@type">@type</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-3">
                        <label asp-for="Size">Size</label>
                        <select asp-for="Size" asp-items="@(new SelectList(Model.Sizes))">
                            <option value="">All</option>
                            @foreach (var size in Model.Sizes)
                            {
                                <option value="@size">@size</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-3">
                        <label asp-for="Grade">Grade</label>
                        <select asp-for="Grade" asp-items="@(new SelectList(Model.Grades))">
                            <option value="">All</option>
                            @foreach (var grade in Model.Grades)
                            {
                                <option value="@grade">@grade</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="row">
                    @Html.RenderPartialAsync("_ProductPurchaseView.cshtml", Model.PurchaseProducts)
                    @*<partial name="_ProductPurchaseView.cshtml" model="@Model"/>*@
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--<div>
        <partial name="_PartialPurchaseView.cshtml"  />-->
@*@await Html.PartialAsync("_PartialPurchaseView.cshtml")*@
<!--</div>-->