
@model PurchaseFormModel

  <a href="~/Suppliers/AddSupplier" class="btn btn-primary mb-3 mt-3">Add Supplier</a>
  <form enctype="multipart/form-data" method="post">
      <div class="form-group">
          <label asp-for="SupplierName">Supplier</label>
          <select asp-for="SupplierName" asp-items="@(new SelectList(Model.Suppliers))">
              <option value="">Choose Supplier</option>
              @foreach (var supplier in Model.Suppliers)
              {
                  <option value="@supplier">@supplier</option>
              }
          </select>
      </div>

      @*<button type="button" class="btn btn-primary mb-4" asp-action="AddSupplier" asp-controller="Suppliers">Add Supplier</button>*@


      <div class="form-group">
          <label asp-for="InvoiceNumber">Invoice Number</label>
          <input asp-for="InvoiceNumber" type="text" class="form-control" placeholder="Invoice number">
      </div>

      <div class="form-group">
          <label asp-for="Date">Date</label>
          <input asp-for="Date" type="text" class="form-control" placeholder="Date">
      </div>

      <a href="~/Purchases/AddSupplier" class="btn btn-primary mb-3 mt-3">Add Product</a>

      <div class="row">
          <div class="form-group col-3">
              <label asp-for="Description">Description</label>
              <select asp-for="Description" asp-items="@(new SelectList(Model.Descriptions))">
                  <option value="">All</option>
                  @foreach (var type in Model.Descriptions)
                  {
                      <option value="@type">@type</option>
                  }
              </select>
          </div>
          <div class="form-group col-3">
              <label asp-for="Size">Size</label>
              <select asp-for="Size" asp-items="@(new SelectList(Model.Sizes))">
                  <option value="">All</option>
                  @foreach (var size in Model.Sizes)
                  {
                      <option value="@size">@size</option>
                  }
              </select>
          </div>
          <div class="form-group col-3">
              <label asp-for="Grade">Grade</label>
              <select asp-for="Grade" asp-items="@(new SelectList(Model.Grades))">
                  <option value="">All</option>
                  @foreach (var grade in Model.Grades)
                  {
                      <option value="@grade">@grade</option>
                  }
              </select>
          </div>
      </div>
     

    <partial name="_PartialPurchaseView" />

      <br />
      <button type="submit" class="btn btn-primary">Submit</button>

  </form>