@model IEnumerable<ProductViewModel>

<div class="row">
    @foreach (var report in Model)
    {
    <div class="row">
        <div class="col-2">
            @report.Description
        </div>
        <div class="col-2">
            @report.Size
        </div>
        <div class="col-2">
            @report.Grade
        </div>
        <div class="col-2">
            @report.Specification.Cubic        </div>
        <div class="col-2">
            @report.Specification.CostPrice
        </div>
        <div class="col-2">
            @report.Specification.Income
        </div>
    </div>
        
    }

</div>