@model IEnumerable<ProductViewModel>

<div class="table-responsive">

    <table class="table">
       <thead>
           <tr>
    <td>Description</td>
    <td>Size</td>
    <td>Grade</td>
    <td>Quantity</td>
    <td>Cubic</td>
    <td>Cost Price</td>
    <td>Income</td>
            </tr>
        </thead> 
        @foreach (var report in Model)
        {
            <tr>
                <td>
                    @report.Description
                </td>
                <td>
                    @report.Size
                </td>
                <td>
                    @report.Grade
                </td>
                <td>@report.Quantity</td>
                <td>
                    @report.Specification.Cubic
                </td>
                <td>
                    @report.Specification.CostPrice
                </td>
                <td>
                    @report.Specification.Income
                </td>
                </tr>
    }
    </table>
 </div>